html {
    --imp-text-color: #4db1cd;
    --imp2-text-color: #8f1313;
}

.blue_light {
    color: var(--imp-text-color);
}

.red_light {
    color: var(--imp2-text-color);
}

button:focus {
    box-shadow: none;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #021526;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4d7ea8;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #455b6e;
    border-radius: 12px;
}
